@media screen and (max-width: 800px) {
    body{
        font-family: sans-serif;
       background-image: url(/img/fondo1.jpg);
       background-size: 200%;
       background-repeat: no-repeat;
    }
}

@media screen and (max-width: 500px){
    body{
        font-family: sans-serif;
       background-image: url(/img/fondo1.jpg);
       background-size: 500%;
       background-repeat: no-repeat;
    }
}